body {
  background-image: url(assets/img/poker_texture.jpg);
}
.card {
  background-color: white;
  width: 309px;
  height: 420px;
  border-radius: 30px;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 10px #000000;
}
.symbol-top {
  margin-left: 20px;
  font-size: 110px;
  position: absolute;
  top: -70px;
}
.symbol-bottom {
  position: absolute;
  margin-right: 20px;
  font-size: 110px;
  right: 0px;
  bottom: -70px;
  transform: rotate(180deg);
}
.card-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
  font-size: 80px;
}
